$tbl = <<<EOD <table cellspacing="0" cellpadding="1">
    <tr>
        <td rowspan="2"><img src="https://i.pinimg.com/originals/39/51/fb/3951fbe294a8365ca9b3c816798d1c6e.png"></td>
    </tr>
    <tr>
        <td style="text-size:24pt; text-decoration: #7f7fff; font-family: Arial; font-style: italic, bold;">BADAN PUSAT
            STATISTIK</td>
    </tr>

    <tr>
        <td style="text-size:24pt; text-decoration: #7f7fff; font-family: Arial; font-style: italic, bold;">KOTA MALANG
        </td>
    </tr>

    </table>
    EOD;
    $pdf->writeHTML($tbl, true, false, false, false, '');


    <li><ul class="dropdown-menu"><li><a href="javascript:;"><span style="font-size: 16pt; font-style: bold;"></span><span style="font-size: 12pt;"></span></a></li></ul></li>